@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-form form {
    display: flex;
    align-items: center;
}

.search-form select, 
.search-form input[type="text"], 
.search-form input[type="submit"] {
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    padding: 0 10px;
}

.search-form input[type="submit"] {
    padding: 5px 10px;
    height: 37px; 
}

.sort-options {
    text-align: center;
    margin-bottom: 20px;
}

.write-post {
    text-align: center;
    margin: 20px;
}

.pagination {
    text-align: center;
    margin: 20px;
}

.pagination a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

.pagination a:hover {
    text-decoration: underline;
}

.admin {
    text-align: center;
}

/* 테이블 스타일 */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #ddd; /* 테두리 추가 */
}

th, td {
    padding: 10px;
    text-align: center; /* 모든 셀을 중앙 정렬 */
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd; /* 컬럼 경계선 추가 */
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

td a {
    color: #007bff;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

/* top-line 클래스에 푸른 계열 배경색 및 글자색 변경 */
.top-line {
    background-color: cornflowerblue;
    color: #ffffff;
    height: 20px; /* 세로 폭 줄이기 */
}

/* 제목 컬럼의 중앙 정렬 해제 */
.content-title {
    text-align: left;
}

/* 컬럼 폭 조정 */
th:nth-child(1), td:nth-child(1) { /* 글 번호 컬럼 */
    width: 10%;
}

th:nth-child(2), td:nth-child(2) { /* 작성자 컬럼 */
    width: 15%;
}

th:nth-child(3), td:nth-child(3) { /* 제목 컬럼 */
    width: 40%;
}

th:nth-child(4), td:nth-child(4) { /* 조회수 컬럼 */
    width: 15%;
}

th:nth-child(5), td:nth-child(5) { /* 등록일자 컬럼 */
    width: 20%;
}